/.idea/.idea.RaylibOne/.idea/.gitignore
/.idea/.idea.RaylibOne.dir/.idea/.gitignore
/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/obj/Debug/net6.0/apphost.exe
/.idea/.idea.RaylibOne/.idea/encodings.xml
/.idea/.idea.RaylibOne.dir/.idea/encodings.xml
/.idea/.idea.RaylibOne/.idea/indexLayout.xml
/.idea/.idea.RaylibOne.dir/.idea/indexLayout.xml
/bin/Debug/net6.0/runtimes/osx-x64/native/libraylib.dylib
/bin/Debug/net6.0/runtimes/linux-x64/native/libraylib.so
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/bin/Debug/net6.0/runtimes/win-x64/native/raylib.dll
/bin/Debug/net6.0/runtimes/win-x86/native/raylib.dll
/bin/Debug/net6.0/Raylib-cs.dll
/obj/Debug/net6.0/RaylibOne.AssemblyInfo.cs
/obj/Debug/net6.0/RaylibOne.AssemblyInfoInputs.cache
/obj/Debug/net6.0/RaylibOne.assets.cache
/obj/Debug/net6.0/RaylibOne.csproj.AssemblyReference.cache
/obj/Debug/net6.0/RaylibOne.csproj.CopyComplete
/obj/Debug/net6.0/RaylibOne.csproj.CoreCompileInputs.cache
/obj/Debug/net6.0/RaylibOne.csproj.FileListAbsolute.txt
/obj/RaylibOne.csproj.nuget.dgspec.json
/obj/RaylibOne.csproj.nuget.g.props
/obj/RaylibOne.csproj.nuget.g.targets
/bin/Debug/net6.0/RaylibOne.deps.json
/bin/Debug/net6.0/RaylibOne.dll
/obj/Debug/net6.0/ref/RaylibOne.dll
/obj/Debug/net6.0/refint/RaylibOne.dll
/obj/Debug/net6.0/RaylibOne.dll
/bin/Debug/net6.0/RaylibOne.exe
/obj/Debug/net6.0/RaylibOne.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0/RaylibOne.genruntimeconfig.cache
/obj/Debug/net6.0/RaylibOne.GlobalUsings.g.cs
/bin/Debug/net6.0/RaylibOne.pdb
/obj/Debug/net6.0/RaylibOne.pdb
/bin/Debug/net6.0/RaylibOne.runtimeconfig.json
/obj/rider.project.restore.info
